<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
{% for p in posts %}
    <div id="posts" class="row">
    <!--<div class="col-sm-8 col-md-8" style="font-size:22px; font-weight:bold">{{ p['post_id']}}&nbsp;{{ p['Post Text'] }}</div>-->
        <div class="col-sm-8 col-md-8" style="font-size:22px; font-weight:bold">
            <a href="{{ url_for('session_creater', post_type=3, pid=p['Post Id']) }}">{{ p['Post Text'] }}</a>
        </div>
        <div class="col-sm-1 col-md-1"><a href="{{ url_for('session_creater', post_type=0,pid=p['Post Id']) }}">Answer</a></div>
        <div class="col-sm-1 col-md-1"><a href="{{ url_for('session_creater', post_type=1,pid=p['Post Id']) }}">Comment</a></div>
        <div class="col-sm-2 col-md-2"><img src="{{ p['User Avatar'] }}">&nbsp;{{ p['User Name'] }}</div>                    
    </div>
    <div id="post_answers" class="well well-lg" 
         style="font-family: Georgia,Times,'Times New Roman',serif;font-size: 15px;line-height: 1.4;">
        <p style="font-family: Georgia,Times,'Times New Roman',serif;font-size: 15px;font-style:Italic">Answer</p> 
        {% if p['NAnswers'] != 0 %}       
        <p>{{ p['Top Answer'].answertext }}
            <a href="{{ url_for('session_creater', post_type=2, pid=p['Top Answer'].id) }}">Comment on Answer</a>         
        </p>
        {% endif %}
    
    <span style="color:green">Answers ({{ p['NAnswers'] }})</span>
    <span style="color:green">Commetns ({{ p['NComments'] }})</span>
    </div>
    <hr>
{% endfor %}
</div>
{% endblock %}