<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">      
         <div class="col-sm-1 col-md-1"><img src="{{ user.avatar(50) }}"></div>
         <div class="col-sm-11 col-md-11">User: {{user.userid}}<br/>
         {% if user.about_me %}{{ user.about_me }}{% endif %}
         {% if user.last_seen %}<p><i>Last seen on: {{ user.last_seen }}</i></p>{% endif %}</div>
    </div>
     <p>{% if userid == g.userid %}<p><a href="{{ url_for('edit') }}">Edit</a></p>{% endif %}</p>
  <hr>
  {% for post in posts %}
  <div id="post_answers" class="well well-lg" 
         style="font-family: Georgia,Times,'Times New Roman',serif;font-size: 15px;line-height: 1.4;">
      {% include 'post.html' %}
  </div>
  {% endfor %}
 </div> 
{% endblock %}